#Comparison Operators
In this lecture we will be learning about Comparison Operators in Python. These operators will allow us to compare variables and output a Boolean value (True or False).

If you have any sort of background in Math, these operators should be very straight forward.

First we'll present a table of the comparison operators and then work through some examples: 
ref : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/01-Python%20Comparison%20Operators/01-Comparison%20Operators.ipynb

##Table of Comparison Operators
In the table below, a=3 and b=4.

Operator|Description|Example
--------|-----------|------------------
==	    |If the values of two operands are equal, then the condition becomes true.	 |(a == b) is not true.
!=	    |If values of two operands are not equal, then condition becomes true.	      |(a != b) is true
>	      |If the value of left operand is greater than the value of right operand, then condition becomes true.	|(a > b) is not true.
<	      |If the value of left operand is less than the value of right operand, then condition becomes true.	|(a < b) is true.
>=	    |If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.	|(a >= b) is not true.
<=	    |If the value of left operand is less than or equal to the value of right operand, then condition becomes true.	|(a <= b) is true.

##Equal

In [ ]:
2 == 2

True

In [ ]:
1 == 0

False

##Not Equal

In [ ]:
2 != 1

True

In [ ]:
2 != 2

False

##Greater Than

In [ ]:
2 > 1

True

In [ ]:
2 > 4

False

##Less Than

In [ ]:
2 < 4

True

In [ ]:
2 < 1

False

##Greater Than or Equal to

In [ ]:
2 >= 2

In [ ]:
2 >= 1

True

##Less than or Equal to

In [ ]:
2 <= 2

True

In [ ]:
2 <= 4

True

#Chained Comparison Operators
An interesting feature of Python is the ability to chain multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: and and or.

ref : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/01-Python%20Comparison%20Operators/02-Chained%20Comparison%20Operators.ipynb

In [ ]:
1 < 2 < 3

True

In [ ]:
1<2 and 2<3

True

In [ ]:
1 < 3 > 2

True

In [ ]:
1<3 and 3>2

True

In [ ]:
1==2 or 2<3

True

In [ ]:
1==1 or 100==1

True

#Python Statements
##if, elif, else Statements
if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with elif and else statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else, if another case happens, perform some other action. Else, if none of the above cases happened, perform this action."

Let's go ahead and look at the syntax format for if statements to get a better idea of this: <br>

>if case1:
    >>perform action1 

>elif case2:
    >>perform action2 

>else: 
    >>perform action3

ref : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/02-Python%20Statements/02-if%2C%20elif%2C%20and%20else%20Statements.ipynb

In [ ]:
if True:
    print('It was true!')

It was true!

In [ ]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

##Multiple Branches
Let's get a fuller picture of how far if, elif, and else can take us!

We write this out in a nested structure. Take note of how the if, elif, and else line up in the code. This can help you see what if is related to what elif or else statements.

We'll reintroduce a comparison syntax for Python.

In [ ]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

In [ ]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

Welcome Sammy!

In [ ]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

##for Loops
A for loop acts as an iterator in Python; it goes through items that are in a sequence or any other iterable item. Objects that we've learned about that we can iterate over include strings, lists, tuples, and even built-in iterables for dictionaries, such as keys or values.

We've already seen the for statement a little bit in past lectures but now let's formalize our understanding.

Here's the general format for a for loop in Python:

>for item in object:
    >>statements to do stuff
    
The variable name used for the item is completely up to the coder, so use your best judgment for choosing a name that makes sense and you will be able to understand when revisiting your code. This item name can then be referenced inside your loop, for example if you wanted to use if statements to perform checks.

ref : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/02-Python%20Statements/03-for%20Loops.ipynb

###Example 1 

iterating through a list

In [ ]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

###Example 2

let's print only the even numbers from that list!

In [ ]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [ ]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

###Example 3

Another common idea during a for loop is keeping some sort of running tally during multiple loops. For example, let's create a for loop that sums up the list:

In [ ]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

In [ ]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

###Example 4

We've used for loops with lists, how about with strings? Remember strings are a sequence so when we iterate through them we will be accessing each item in that string.

In [ ]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

###Example 5

Let's now look at how a for loop can be used with a tuple:

In [ ]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

###Example 6

Tuples have a special quality when it comes to for loops. If you are iterating through a sequence that contains tuples, the item can actually be the tuple itself, this is an example of tuple unpacking. During the for loop we will be unpacking the tuple inside of a sequence and we can access the individual items inside that tuple!

In [ ]:
list2 = [(2,4),(6,8),(10,12)]

In [ ]:
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [ ]:
# Now with unpacking!
for (t1,t2) in list2:
    print(t1)

2
6
10

###Example 7
Dictionary loop

In [ ]:
d = {'k1':1,'k2':2,'k3':3}

In [ ]:
for item in d:
    print(item)

k1
k2
k3

Notice how this produces only the keys. So how can we get the values? Or both the keys and the values?

We're going to introduce three new Dictionary methods: **.keys()**, **.values()** and **.items()**

In Python each of these methods return a dictionary view object. It supports operations like membership test and iteration, but its contents are not independent of the original dictionary – it is only a view. Let's see it in action:

In [ ]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [ ]:
# Dictionary unpacking
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [ ]:
list(d.keys())

['k1', 'k2', 'k3']

In [ ]:
sorted(d.values())

[1, 2, 3]

###Conclusion
We've learned how to use for loops to iterate through tuples, lists, strings, and dictionaries. It will be an important tool for us, so make sure you know it well and understood the above examples.

##while Loops
The while statement in Python is one of most general ways to perform iteration. A while statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

>while test:
    >>code statements

>else:
    >>final code statements

Let’s look at a few simple while loops in action.

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

###break, continue, pass
We can use break, continue, and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

break: Breaks out of the current closest enclosing loop.
continue: Goes to the top of the closest enclosing loop.
pass: Does nothing at all.


Thinking about break and continue statements, the general format of the while loop looks like this:

```python
while test: 
    code statement
    if test: 
      break
    if test: 
      continue 
else:
```
**break** and **continue** statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an if statement to perform an action based on some condition.

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [ ]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [ ]:
#A word of caution however! It is possible to create an infinitely running loop with while statements. For example:
# DO NOT RUN THIS CODE!!!! 
while True:
    print("I'm stuck in an infinite loop!")

#Excercises

##1.Use for, .split(), and if to create a Statement that will print out words that start with 's':

In [ ]:
st = 'Print only the words that start with s in this sentence'

start
s
sentence

In [ ]:
#Code here

##2.Use range() to print all the even numbers from 0 to 10.

In [ ]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
# Code here

##3.Go through the string below and if the length of a word is even print "even!"

In [ ]:
st = 'Print every word in this sentence that has an even number of letters'

word <-- has an even length!
in <-- has an even length!
this <-- has an even length!
sentence <-- has an even length!
that <-- has an even length!
an <-- has an even length!
even <-- has an even length!
number <-- has an even length!
of <-- has an even length!

In [ ]:
#Code here