#Variable Assignment
###Rules for variable names 
* ห้ามขึ้นต้นด้วยตัวเลข
* ห้ามมีช่องว่างระหว่างตัวแปร
* ห้ามประกอบด้วยสัญลักษณ์ต่อไปนี้ :'",<>/?|\!@#%^&*~-+ 
* การใช้ตัวใหญ่ ตัวเล็ก ลองศึกษาจากมาตรฐาน PEP8 (ref: https://peps.python.org/pep-0008/)
* หลีกเลี่ยง Python built-in keywords เช่น list และ str

ref : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/01-Variable%20Assignment.ipynb

###Dynamic Typing
Python สามารถเปลี่ยนค่าตัวแปรได้โดยไม่ต้องคำนึงถึง data type ก่อนหน้าซึ่งเป็นข้อที่แตกต่างกับภาษาโปรแกรมอิ่นหลายภาษา

In [ ]:
my_dogs = 1

In [ ]:
my_dogs

1

In [ ]:
my_dogs = 'Sammy'

In [ ]:
my_dogs

'Sammy'

##Reassigning Variables

In [ ]:
a = 10

In [ ]:
a = a+10

In [ ]:
a

20

ถ้าเป็น บวก, ลบ, คูณ และ หารเพื่อเปลี่ยนค่าในตัวแปรเดิมให้ใช้ +=, -=, *=, and /= ได้เลย

In [ ]:
a += 10

In [ ]:
a

30

In [ ]:
a *= 2

In [ ]:
a

60

##Determining variable type with type()
ตรวจสอบชนิดของตัวแปรได้โดยฟังก์ชัน type() 
โดย data types ทั่วไปประกอบไปด้วย :

* int (for integer)
* float
* str (for string)
* list
* tuple
* dict (for dictionary)
* set
* bool (for Boolean True/False)

In [ ]:
type(a)

int

In [ ]:
a = False

In [ ]:
type(a)

bool

##Simple Exercise
เปลี่ยนอุณหภูมิ จาก องศาเซลเซียส เป็น ฟาเรนไฮต์ และ เคลวิน ตามสมการ <br> 
$F= \frac{9}{5}C$ + 32 

$K = C + 273.15$

In [ ]:
c = 39.85

F =  103.73
K =  313.0

#Lists
Earlier when discussing strings we introduced the concept of a sequence in Python. Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:

1. Creating lists
2. Indexing and Slicing Lists
3. Basic List Methods
4. Nesting Lists

Lists are constructed with brackets [ ] and commas separating every element in the list.

refs : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/04-Lists.ipynb

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [ ]:
my_list = ['A string',23,100.232,'o']

In [ ]:
len(my_list)

4

##Indexing and Slicing

Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
# Grab element at index 0
my_list[0]

'one'

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [ ]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

In [ ]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [ ]:
my_list

['one', 'two', 'three', 4, 5]

In [ ]:
# Reassign
my_list = my_list + ['add new item permanently']

In [ ]:
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

##Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

ref : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/04-Lists.ipynb

In [ ]:
# Create a new list
list1 = [1,2,3]

In [ ]:
# Append
list1.append('append me!')

In [ ]:
# Show
list1

[1, 2, 3, 'append me!']

In [ ]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [ ]:
# Show
list1

[2, 3, 'append me!']

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [ ]:
popped_item

'append me!'

In [ ]:
# Show remaining list
list1

[2, 3]

In [ ]:
list1[100]

IndexError: ignored

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

##Nesting Lists
A great feature of of Python data structures is that they support nesting. This means we can have data structures within data structures. For example: A list inside a list.

ref : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/04-Lists.ipynb

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [ ]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

#Dictionaries
We've been learning about sequences in Python but now we're going to switch gears and learn about mappings in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables.

This section will serve as a brief introduction to dictionaries and consist of:

1. Constructing a Dictionary
2. Accessing objects from a dictionary
3. Nesting Dictionaries
4. Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [ ]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

In [ ]:
my_dict['key1']

123

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
#Check
my_dict['key1']

0

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

{'animal': 'Dog', 'answer': 42}

##Nesting with Dictionaries
Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

##A few Dictionary Methods
There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

#Tuples
In Python tuples are very similar to lists, however, unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar.

In this section, we will get a brief overview of the following:

1. Constructing Tuples
2. Basic Tuple Methods
3. Immutability
4. When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

ref : https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/06-Tuples.ipynb

In [ ]:
# Create a tuple
t = (1,2,3)

In [ ]:
# Check len just like a list
len(t)

3

In [ ]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [ ]:
# Use indexing just like we did in lists
t[0]

'one'

In [ ]:
# Slicing just like a list
t[-1]

2

##Basic Tuple Methods
Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [ ]:
# Use .index to enter a value and return the index
t.index('one')

0

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

1

##Immutability
It can't be stressed enough that tuples are immutable. To drive that point home:

In [ ]:
t[0]= 'change'

TypeError: ignored

In [ ]:
t.append('nope')

AttributeError: ignored

##Set and Booleans
There are two other object types in Python that we should quickly cover: Sets and Booleans.

Sets
Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

##Excercise

###1.Convert numeric words to numbers

In [ ]:
number_dict = {
    'one': '1',
    'two': '2',
    'three': '3',
    'four': '4',
    'five': '5',
    'six': '6',
    'seven': '7',
    'eight': '8',
    'nine': '9',
    'zero' : '0'
}

{'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5', 'six': '6', 'seven': '7', 'eight': '8', 'nine': '9', 'zero': '0'}

In [ ]:
# initializing string
test_str = "nine one eight zero"

In [ ]:
for word in test_str.split():
  print(word)

nine
one
eight
zero

In [ ]:
|#code
num_str = ''
for word in test_str.split():
  n = number_dict[word]
  num_str=num_str+n

print(num_str)

9180

In [ ]:
#result
0404

### 2.Create function to remove first n characters from a string

In [ ]:
#code
def remove_chars(word, n):
  print(word[n:])

In [ ]:
#result 
remove_chars('ทนงทวยคงควรคอย', 3)

ทวยคงควรคอย

In [ ]:
word = 'ทนงทวยคงควรคอย'
print(word[3:])

ทวยคงควรคอย

###3.Return the count of a given substring from a string

In [ ]:
str_x = "AYUTTHAYA: Vendors of roti sai mai have hailed Thai superstar Lisa \
        Lisa Manoban for posting a video that has created major buzz about their sweet snacks."

In [ ]:
#return count of Lisa
#code
count = str_x.count('Lisa')
print(f"""Lisa appeared {count} times""")

Lisa appeared 2 times

In [ ]:
#result

Lisa appeared 2 times

###4.Write a Program to extract each digit from a string.

In [ ]:
str_y = 'Girls’ Generation has made their much-anticipated return! \
        On August 5 at 6 p.m. KST, Girls’ Generation released their new album “ FOREVER 1 ” along with the music video for the title track of the same name. \
        The iconic girl group made their first full-group comeback in five years in celebration of the 15 th anniversary of their debut. \
        The digital album was unveiled today, but the physical album will be released on August 8 .'

In [ ]:
#return number list from string
#code
num_word = []
for word in str_y.split():
  if word.isdigit():
    num_word.append(word)

num_word

['5', '6', '1', '15', '8']

In [ ]:
#result

['5', '6', '1', '15']

###5.Write program for calculate cost of food beverage from texts.

In [ ]:
str_z = 'คุณฟัก อยู่แม้น ไปรับประทานอาหารที่ร้านโคตรละยำตำบอน รายการดังนี้ ค่ายำทะเลเดือด 3550 บาท \
          ยำถั่วพู 800 คอหมูย่าง 800  ลาหมูคั่ว 1000 ไส้ย่าง 1000 ค่าเครื่องดื่ม 40000'

In [ ]:
#code
sum_val = 0
for word in str_z.split():
  if word.isdigit():
    n = int(word)
    sum_val = sum_val+n

sum_val

47150

In [ ]:
#return number list from string
#code
num_word = []
for word in str_z.split():
  if word.isdigit():
    num_word.append(int(word))

sum(num_word)

47150

In [ ]:
#result

1010

###6.Create function for check string has at least one letter and one number

In [ ]:
def checkstring(txt):

In [ ]:
#result

True

###7.Write program for count word from texts.

In [ ]:
str_a = 'The Call of Duty franchise is no stranger to mobile gaming, but the succinctly titled Call of Duty: Mobile is different. \
While I’ve already fought Call of Duty zombies on a phone and even used a Nintendo DS stylus to aim down sights \
(I don’t recommend it) in unambitious games designed for the limitations of their platforms, this new entry represents a concerted effort \
from Activision to make a mark on the notoriously difficult-to-crack and overcrowded mobile market – and it clearly wants to bring in people for the long term. \
You won’t find a campaign, but the multiplayer modes are substantial and even include a full battle royale. What’s put forth is impressive, \
but the controls are iffy and its free-to-play nature has it reminding you about its microtransactions often, even if they are thankfully easy to ignore.'

In [ ]:
#code

In [ ]:
#result

2

###8.Write program for count all character in dictionary.

In [ ]:
dict_tweets = {
'1551804244524953600' :'#นมวัวรีวิว คำเดียวเลยนะแกมันอร่อยมากก ข้าวโพดอบกรอบรสซุปข้าวโพดเดอะเบสสุดแล้วแต่ราไข่ปลาคอลกับชีสก็อร่อยนะราคาแพ็ค30แท่ง139บาท \
ขายแยกในแอปส้มราคาแท่งละ12บาทส่วนชานมคือไม่หวานเลยหอมชามากคือดือ  ราคา 39 บาท #รีวิวดองกิ้ #ดองดองกิ #อร่อยไปแดก #ไว้รีวิวห้ามขายของโว้ยยย #arii https://t.co/kPTYfnnHlY',
'1551801676922728450' : 'โดนัทหน้ากรอบ อร่อยมาก แป้งนุ่ม หน้าน้ำตาลคาราเมลกรอบๆ ไส้ครีมละมุนดี \
แพรไปเจอที่เซ็นทรัลเวสเกตต์ชั้น 1 หน้า Tops ของร้าน Chubby Dough\
มีทั้งแบบมีไส้ 53.- กับแบบไม่มีไส้เลย 33.-(แต่ชอบแบบมีไส้มากกว่า) @Kin24hrs @aroii #อร่อยไปแดก #อร่อยบอกต่อ https://t.co/kpsKkEbAy1',
'1551792654832132097' : 'Black to noodle พัทยา เจ้าเดียวในพัทยา​ เย็นตาโฟน้ำดำ​ ใครยังไม่เคยลอง​ แนะนำเลย น้ำซุปจะเป็นสีดำหวานกลมกล่อม​ กำลังดีค่ะ​ \
กินเสร็จอาจมีความปากดำนิดหน่อย​น๊า​  ปล.ร้านอยู่ในปั้มน้ำมัน​ถนนนาเกลือ​ ไปตาม​ gps​ โล้ด​ #อร่อยไปแดก #อร่อยบอกต่อ @aroii \
@aroiipaiadk https://t.co/szzRbqs7Nd',
'1551788475028217857' : 'ห่อหมกผัดทะเลมะพร้าวอ่อน \
(Stir-Fried Red Curry with Seafood Served in a Coconut) \
หนึ่งในเมนูซิกเนเจอร์ของทางร้านที่ไม่ควรพลาด \
#เลอนัวตลาดไท #ตลาดไท สั่งอาหาร Line ID : @lenoircuisineTel. 0846774153 \
#อร่อยไปแดก #อร่อยบอกต่อ #อร่อยจนต้องรีวิว #ของกิน #กินน้ําเยอะๆนะ https://t.co/lDI5o7rEiq'}

In [ ]:
#code

In [ ]:
#result

1131

###9.Create function for spellcheck and return index.

In [ ]:
#code
def spell_check(a,b):
  idx_check = []
  for i in range(len(a)):
    if a[i] != b[i]:
      idx_check.append(i)
  return idx_check

In [ ]:
#result
spell_check('ยามใส่เสื้อคอกระเช้าอยู่กะเช้า','ยามอยู่กะเช้าใส่เสื้อคอกระเช้า')

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24]

###10.create function for find gmail.

In [ ]:
str_b = 'There is disagreement and confusion about what Taiwan is. It has its own constitution, democratically-elected leaders, \
and about 300,000 active troops in its armed forces. Chiang@gmail.com \
ROC government-in-exile at first claimed to represent the whole of China, which it intended to re-occupy. \
It held China seat on the United Nations Security Council and was recognised by many Western nations as the only Chinese government.'

In [ ]:
#code
def find_gmail(text):

In [ ]:
#result

Chiang@gmail.com