# AI Senior High School Project

## COVID-19 DATA SET

###### Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

Good Project: https://midas.umich.edu/fighting-covid-19-with-data-science-research/

![](https://github.com/kaopanboonyuen/aiforhighschool/raw/main/img/covid19.gif)

In [1]:
# Import Libraries

import numpy as np
import pandas as pd

# Have Fun and Good Luck for your AI Project

![](https://github.com/kaopanboonyuen/aiforhighschool/raw/main/img/covid19_2.gif)

In [2]:
# Import Data

df = pd.read_csv("https://github.com/kaopanboonyuen/aiforhighschool/raw/main/dataset/covid_19_clean_complete.csv", 
                 parse_dates = ['Date'])
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [3]:
# INSERT YOUR CODE BELOW !!